

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.black-1{
    color: #3A3A3A;
}

  

.display_flex{
    display: flex;
}

.navbar{
    justify-content: space-between;
    
}

.navbar ul li{
    margin: 34px;
    list-style: none;
}

.nav_title{
    font-size: 1.2rem;
    margin: 87px 120px;
   
}

.nav_portion{
    font-size: 1rem;
    margin: 95px 120px;
}

.start{
    justify-content: space-between;
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    margin: 74px 120px;
   
     
}


.influencer_title{
    font-size: 3.2rem;
     margin: 16px auto;
}

.influencer_description{
    font-size: 1rem;
     
   
}

.button-1{
    background-color: #E02C6D;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 40px;
    width: 196px;
    height: 44px;
}

.logos{
    justify-content: space-between;
    list-style: none;
    margin: 100px 165px;
    gap: 60px;
    flex-wrap: wrap;
   
}

.collection_heading{
    font-size: 1.2rem;
    color:  #3A3A3A;
    /* margin: 90px 588px; */
    display: flex;
    justify-content: center;
}

.product_name{
    color: rgba(24, 25, 31, 1);
    font-size: 1.2rem;

}

.product_price{
    font-size: 1.18rem;
    color: rgba(0, 0, 0, 0.87);

}

.product_description{
    font-size: 1.15rem;
    font-weight: bold;
    color: rgba(120, 120, 133, 1);
}

.product_details{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 5px;
   
    
}
.products{
    border: none;
    gap: 30px;
    margin-bottom: 30px;
     box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
   padding: 5px 10px;
}
.section{
    width: 1060px;
    height: 1662px;
    margin: 100px 250px;
}

.more{
    margin-left: 900px;
    /* margin-bottom: 100px; */
    display: flex;
    color: #E02C6D;
}


@media screen and (max-width: 576px) {
    .navbar,
    .start,
    .logos,
    .nav_portion{
        flex-direction: column;
    }
    .nav_title{
        justify-content: center;
    }
.product_details img{
    max-width: 100%;
    height: auto;
    display: block;
}

    
}

@media  screen and (min-width:576px) and (max-width:992) {
    .start{
        justify-content: space-between;
    }
.product_details{
    grid-template-columns: repeat(3, 1fr);
}
    
    
}